<div class="container">
  
  <div class="row d-flex">
    <div class="col-6 p-2">
      <form class="mt-4">
        <label for="singleSelect" >Select Category </label>
        <select class="ml-5" style="width:200px" ng-model="condition" ng-change="filterCondition(condition)">
          <option value="-">-</option>
          <option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>
        </select>
        </form>
  </div>
    <div class="col-6 p-2 d-flex justify-content-end">
      <button class="btn btn-warning mt-3 h-75"><a href="create" style="text-decoration: none;">add new course</a></button>
    </div>
  </div>
  
<div class="card-group">
  <div class="row">
    <div class="col-lg-4 col-md-6 mt-4" ng-repeat="course in courses">
      <div class="card">
        <img src="../../public/img/courseintroimage.jpg" class="card-img-top" />
        <div class="card-body">
          <h3 class="card-title">
 
            {{course.name}}</h3>
          <p class="card-text">{{course.description}}</p>
          <p><strong>Max Points = {{course.maxPoints}}</strong></p>
        </div>
        <div class="row d-flex justify-content-center pb-2">
          <div class="col-4">
            <a ng-click="update(course)" class="btn btn-primary">Edit</a>
          </div>
          <div class="col-4">
            <a href="#" class="btn btn-danger" ng-click="deleteCourse(course.id)">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>


