<form ng-submit="createCategory(name) ">
  <div class="container">
    <div class="row d-flex">
      <div class="input-group mb-3 mt-4 w-50 m-auto">
        <input
          type="text"
          class="form-control"
          ng-model="name"
          placeholder="Category Name"
          aria-label="Name"
          aria-describedby="basic-addon1"
        />
        <div class="input-group-prepend">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>




