
<form ng-submit="updateCategory(category.id,category.name)">
  <div class="container mt-4 d-flex justify-content-center">
    <div class="row ">
      <div class="input-group mb-3 w-75">
      <span class="input-group-text border-0" id="Name">Category Name</span>
     <input
      type="text"
      class="form-control rounded"
      placeholder="Name"
      aria-label="Name"
      aria-describedby="Name"
      ng-model="category.name"
     />
    </div>
 <div class="row justify-content-center ">
   <button type="submit" class="btn btn-primary " style="width: 100px;">Submit</button>
 </div>
  
</div>
</form>
